.editor-container {
  position: relative;
  box-sizing: content-box;
  color: purple;
  border-color: purple;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 5px;
  height: 800px;
}

.editor-line-numbers {
  position: absolute;
  width: 50px;
  height: 100%;
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: "liga", "calt";
  line-height: 19px;
}

.editor-line-number {
  height: 19px;
}

.editor-content {
  position: absolute;
  left: 71px;
  width: 100%;
  cursor: text;
  outline: 0px solid transparent;
  height: 100%;
}

.editor-content span::selection {
  background-color: violet;
}

.editor-lines {
  height: 100%;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: "liga", "calt";
  line-height: 19px;
  white-space: nowrap;
  /* user-select: text; */
}

.editor-line {
  height: 19px;
}

.editor-text-measurer {
  visibility: hidden;
}

.editor-caret {
  position: absolute;
  width: 2px;
  height: 19px;
  background-color: blueviolet;
  top: 0;
  left: 0;
}

.editor-input-textarea {
  resize: none;
  position: absolute;
  overflow: hidden;
  outline: none;
  line-height: 19px;
  color: transparent;
  border: none;
  background-color: rgba(193, 61, 211, 0.5);
  /* width: 1px; */
  /* height: 1px; */
  /* dev */
  width: 5px;
  /* dev */
  height: 19px;
  /* background-color: transparent; */
}

.editor-debug-view {
  opacity: 50%;
  background-color: violet;
}
