{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-typescript", { "allowNamespaces": true }]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "Wenny"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
