{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": ["last 2 chrome version", "last 2 firefox version"] }
    ],
    ["@babel/preset-typescript", { "allowNamespaces": true }]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic",
        "importSource": "wenny"
        // "pragma": "Wenny.createElement"
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
